.cabecalho {
    background-image: url(../images/Cabeçalho.png);
}

.ajudetexto {
    font-weight: bolder;
    font-size: 40px;
    font-family: inter;

}

.doaçao {
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/backgroundajudenos.jpg");
    background-size: 1280px;
    height: 500px;
    font-family: tapestry;
    font-size: 120px;
    color: #6E8000;
    -webkit-text-stroke: 3px black;
}
