.bulbacarac {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: space-between;
    
    
}

.imgboxx {
    width: 300px;
    height: 300px;

}

.bulbass {
 background-color: #eee;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 5%;
padding:15px;
width: 400px;
    height: 320px;
    margin: 5%;




}

.caracteristica {
background-color: #B0C4DE;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
padding:150px;
width: 200px;
    height: 53px;
    margin: 5%;

}

.plantaa {
    background-color: #66CDAA;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
margin-left: 100px;

}

.veneno {
    background-color: #8A2BE2;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;


}

.tituloo {
    margin-left: 60px;
    
    
}

.tipos {
    display: flex;
    margin: 1%;
    
}

.fogo {
    background-color: #B22222;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
margin-left: 100px;
}

.psico {
    background-color: #FF69B4;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
}

.fraquezas1 {
    display: flex;
    margin: 1%;
}


.voador {
    background-color: #B0C4DE;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
margin-left: 100px;
}


.gelo {
    background-color: #00BFFF;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;


}

.fraquezas2 {
    display: flex;
    margin: 1%;
}


.bulbacarac {
    max-width: 90;
}


.bulba1 {
    width: 125px;
    height: 125px;
}

.bulba2 {
    width: 125px;
    height: 125px;
}

.bulba3 {
    width: 125px;
    height: 125px;
}




.bulbas {
    display: inline-block;
    margin-right: 20px;
    background-color: #777373;
border-radius: 50%;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 40px;
padding:40px;

}


.evolucao {
    display: inline-block; 
}



.fazeraside {
    display: flex;
    flex-wrap: wrap; 
}


main {
    flex: 2; 
}

aside {
    flex: 1; 
    max-width: 200px; 
}

.footer {
    clear: both;
    width: 100%;
}

.titulopokemon {
margin-top: 20px;
margin-left: 20px;
font-weight: bolder;

}











