.bulbacarac {

    display: flex;
    flex-wrap: wrap;
    
    
}

.container {
    display: flex;
    justify-content: space-between;
    
    
}

.imgboxx {
    width: 300px;
    height: 300px;

}

.bulbass {
 background-color: #eee;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 5%;
padding:15px;
width: 400px;
    height: 320px;
    margin: 5%;




}

.caracteristicaa {
    background-color: #B0C4DE;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 30rem;
   
}

.caracteristicaa strong {
    font-weight: bold;
  }

.altura{
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    
    
   
}.valorAltura {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    
    
   
}.informa {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    
    
   
}.informa {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
    
    
   
}
    

.categoria {
    margin-left: 110px;
}

.categoriaa {
    margin-left: 120px;
}

.plantaa {
    background-color: #66CDAA;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
margin-left: 100px;

}

.veneno {
    background-color: #8A2BE2;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;


}

.tituloo {
    margin-left: 60px;
    
    
}

.tipos {
    display: flex;
    margin: 1%;
    
}

.fogo {
    background-color: #B22222;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
margin-left: 100px;
}

.psico {
    background-color: #FF69B4;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
}

.fraquezas1 {
    display: flex;
    margin: 1%;
}


.voador {
    background-color: #B0C4DE;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;
margin-left: 100px;
}


.gelo {
    background-color: #00BFFF;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 10px;
padding:10px;
width: 80px; 
height: 15px;


}

.fraquezas2 {
    display: flex;
    margin: 1%;
}



.bulbacarac {
    max-width: 90;
}


.bulba1 {
    width: 125px;
    height: 125px;
}

.bulba2 {
    width: 125px;
    height: 125px;
}

.bulba3 {
    width: 125px;
    height: 125px;
}




.bulbas {
    display: inline-block;
    margin-right: 20px;
    background-color: #777373;
border-radius: 50%;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 40px;
padding:40px;

}


.evolucao {
    display: inline-block; 
}



.fazeraside {
    display: flex;
    flex-wrap: wrap; 
}


main {
    flex: 2; 
}

aside {
    flex: 1; 
    max-width: 200px; 
}

.footer {
    clear: both;
    width: 100%;
}

.titulopokemon {
margin-top: 20px;
margin-left: 20px;
font-weight: bolder;

}

.ladoalado {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ladoalado2 {
    width: 36%;
    box-sizing: border-box;
  }
  
  .grafico {
    width: 50%;
    box-sizing: border-box;
  }
  
  .imagem {
    width: 50%;
    box-sizing: border-box;
  }
  
  .fraquezas1,
  .fraquezas2 {
    width: 100%;
    box-sizing: border-box;
    
  }
  
  /* Adicione um estilo específico para a imagem para garantir que ela não seja afetada por outros estilos */
  .imagem img {
    width: 100%;
    height: auto;
    
  }

  @media (max-width: 1084px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 800px){

.imgboxx {
    width: 150px;
    height: 180px;

} 


.bulbass {
 background-color: #eee;
border-radius: 10px;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: 5%;
padding:15px;
width: 180px;
    height: 180px;
    




}

.caracteristicaa {
    background-color: #B0C4DE;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    width: 30rem;
    
   
}

.bulbas {
    display: inline-block;
    margin-right: 20px;
    background-color: #777373;
border-radius: 50%;
box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
margin: auto;
padding:10px;

}


.bulba1 {
    width: 60px;
    height: 60px;
}

.bulba2 {
    width: 60px;
    height: 60px;
}

.bulba3 {
    width: 60px;
    height: 60px;
}

.grafico {
    width: 50%;
    box-sizing: border-box;
  }
  
  .imagem {
    width: 100%;
    box-sizing: border-box;
  }

    }

    @media (max-width: 1500px){
        .grafico {
            width: 50%;
            box-sizing: border-box;
          }
          
          .imagem {
            width: 100%;
            box-sizing: border-box;
          }

    }

    @media (max-width: 1435px) {

        .bulbas {
            display: inline-block;
            margin-right: 20px;
            background-color: #777373;
        border-radius: 50%;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 0;
        padding:30px;
        
        }

    }

    @media screen and (min-width: 400px) and (max-width: 600px){
        .cabecalho {
            background-size: cover;
            background-position: center;
        }
        .sidebar, #divBusca{
            display: none;       
        }
    
        .logo {
            width: 300px;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
        }

        .imgboxx {
            width: 150px;
            height: 180px;
        
        } 
        
        
        .bulbass {
         background-color: #eee;
        border-radius: 10px;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: 5%;
        padding:15px;
        width: 180px;
            height: 180px;
            
        
        
        
        
        }
        
        .caracteristicaa {
            background-color: #B0C4DE;
            border-radius: 10px;
            box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
            margin: 5%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
            width: 30rem;
            
           
        }
        
        .bulbas {
            display: inline-block;
            margin-right: 20px;
            background-color: #777373;
        border-radius: 50%;
        box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
        margin: auto;
        padding:10px;
        
        }
        
        
        .bulba1 {
            width: 60px;
            height: 60px;
        }
        
        .bulba2 {
            width: 60px;
            height: 60px;
        }
        
        .bulba3 {
            width: 60px;
            height: 60px;
        }
        
        .grafico {
            width: 50%;
            box-sizing: border-box;
          }
          
          .imagem {
            width: 100%;
            box-sizing: border-box;
          }
        
            }







      
    

    
      
    



    













