
.imagemgeracao { 
    width: 60px;
    height: 60px;


}


.pokemons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start; /* Alinhe os Pokémon à esquerda */
    margin-left: 100px;
     
}

.pokemonlinha {
    background-color: rgba(192, 192, 192, 1);;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 2%;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    height: 110px;
    width: 90px;
    
    
    
}

.imgbox {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 50%;
    width: 90px;
    height: 80px;

}


.info {
 
margin-top: 6px;

}

.imagemgeracao {
    margin-top: 4px;
}

.fazeraside {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha quando não há espaço suficiente */
}


main {
    flex: 2; /* Deixa o main ocupar mais espaço */
}

aside {
    flex: 1; /* Deixa o aside ocupar menos espaço */
    max-width: 200px; /* Define uma largura máxima para o aside */
}

.footer {
    clear: both;
}

 .nome {
    color: black;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
    text-align: center;
    
}

.link-button {
    display: inline-block;
    margin-left: 10px; 
}

.link-button a {
    text-decoration: none; 
}

.link-button button {
    background-color: #ffffff; 
    border: none; 
    padding: 5px 10px; 
    font-size: 90px;
    color: rgba(128, 128, 128, 0.5);
    font-weight: 100;
   
}
















