
.imagemgeracao { 
    width: 70px;
    height: 70px;

}


.pokemons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    
}

.pokemonlinha {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    font-size: 14px;
    height: 150px;
    width: 120px;
}

.imgbox {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}


.info {
margin-top: 20px;

}

.imagemgeracao {
    margin-top: 20px;
}


.menunaimagem {
    position: relative; /* Define o posicionamento relativo para o contêiner pai */
}

.menu {
    position: absolute; /* Define o posicionamento absoluto para o menu */
    bottom: 0; /* Alinha o menu na parte inferior */
    left: 0; /* Alinha o menu à esquerda */
    width: 100%; /* Faz o menu ocupar toda a largura do contêiner pai */
    background-color: rgba(200, 200, 200, 0.6); /* Cor de fundo do menu com transparência */
    padding: 10px; /* Espaçamento dentro do menu */
    z-index: 2; /* para o menu ficar  acima da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fazeraside {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha quando não há espaço suficiente */
}


main {
    flex: 2; /* Deixa o main ocupar mais espaço */
}

aside {
    flex: 1; /* Deixa o aside ocupar menos espaço */
    max-width: 200px; /* Define uma largura máxima para o aside */
}

.footer {
    clear: both;
}














