.fontetamanho {
    font-weight: 1000;
    font-family: lalezar;
    font-size: 30px;
}
.fontelegenda {
    font-family: 'lao muang don';
    font-size: 24px;
    margin-left: 2%;
}
.containernoticia {
    text-align: center;
    margin-top: 15px;
}
.frame {
    text-align: center;
    

}



.video {
    margin: 0 auto;
    display: block;
}
.legendaframe {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 350px;
}
.noticia1 {
    border-radius: 20px;
    width: 1000px;
    margin-left: 5px;
    
}
.noticia2 {
    border-radius: 20px;
    width: 500px;
    margin-left: 10px;
}
.noticia3 {
    border-radius: 20px;
    margin-left: 15px;
    
    width: 350px;
}
.noticia4 {
    border-radius: 20px;
    width: 380px;
    margin-right: 90px;
    height: 200px;
    
margin-left: 50px;
}
.noticia5 {
    border-radius: 20px;
    width: 350px;
height: 200px;
margin-right: 5px;
}
.noticiaspoke {
    display: inline-block;
}
/* CSS para alinhar as imagens lado a lado */
.noticias10 {
    display: flex;
    flex-wrap: wrap;
}
  
  .noticia {
    flex: 1;
    margin: 10px; /* Espaçamento entre as imagens */
}
  
  /* Estilos adicionais para as imagens e texto se necessário */
  .legendafoto1 {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 10px;
  }
  .detalhestorneio {
    font-family: 'Lao muang dom';
    text-align: left;
font-weight: bold;
margin-left: 10px;
  }
  .legenda11 {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
  }
  .legenda12 {
    text-align: left;
    font-weight: bold;
    font-family: 'lao muang dom';
    margin-left: 50px;
  }
.legenda3 {
    font-weight: bolder;
    font-size: 20px;
}
.legenda4 {
    font-weight: 550;
    font-family: 'lao muang dom';
}
.fotonoticia {
    border-radius: 20px;
    max-width: 100%;
    
}
@media (max-width: 460px) {
    .menu ul {
      flex-direction: column; /* Altera a direção da lista para uma coluna */
    }
  
    .menu li {
      padding: 10px;
      text-align: center; /* Centraliza o texto na coluna */
    }
  
    /* Estilos do menu de hambúrguer */
    .menu-toggle {
      display: block;
    }
    .logo {
        position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;}
      .sidebar {
        display: none;
      }
      .procuras {
        display: none;
    }  .procura {
        display: none
    }
    .fotonoticia {
        max-width: 100%;
       
    }
    .video {
        position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  
    }
    
    }


@media (min-width:461px) and (max-width: 1279px) {
    .sidebar {
        display: none;
      }
      .fotonoticia {
        max-width: 100%; /* A imagem não ficará maior que a largura do contêiner pai */
        height: auto; /* A altura se ajustará automaticamente para manter a proporção original */
        display: block; /* Remove espaços em branco indesejados sob a imagem */
      }
      .logo {
        max-width: 100%;
      }
    }
