body {
    font-family: Arial, sans-serif;
}
/* Estilos para os nomes no rodapé */
/* Estilos para os nomes no rodapé */
/* Estilos para os nomes no rodapé */
.nome {
    text-decoration: underline; /* Sublinhado */
    color: #fff; /* Cor do texto (branco) */
    margin-left: 70px; /* Espaçamento à direita de cada nome */
    margin-right: 54px;
    padding-bottom: 5px; /* Espaçamento entre o nome e a linha inferior (sublinhado) */
    vertical-align: top; /* Alinhar na parte superior verticalmente */
  }
  
  /* Estilos para centralizar o nome "Patrícia" verticalmente */
  .nome-centralizado {
    text-align: center; /* Centralizar o texto horizontalmente */
    color: #fff; /* Cor do texto (branco) */
    vertical-align: bottom; /* Alinhar na parte inferior verticalmente */
  }

/* Estilos para o cabeçalho */
.cabecalho { 
    background-image: url(../images/Cabeçalho.png);
   width: 100%;
   display: flex;
   background-repeat: repeat-x;
    height: 400px;
    position: relative;
}

#divBusca{
    position: absolute;
    top: 30px;
    right: 30px;
}

.logo {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.menu {
    position: absolute; /* Define o posicionamento absoluto para o menu */
    bottom: 0; /* Alinha o menu na parte inferior */
    left: 0; /* Alinha o menu à esquerda */
    width: 100%; /* Faz o menu ocupar toda a largura do contêiner pai */
    background-color: rgba(200, 200, 200, 0.6); /* Cor de fundo do menu com transparência */
    padding-top: 10px;
    padding-bottom: 10px; /* Espaçamento dentro do menu */
    z-index: 2; /* para o menu ficar  acima da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu a:hover {
  color: purple;
  font-weight: bold;
}

.selecionado a {
  color: purple;
  font-weight: bolder;
  }

#divBusca{
    background-color:black;
    border:solid 1px;
    border: radius 5px;;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color: transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    color: wheat;
    border-radius: 5px;
    height: 40px;
    width:260px;
  }

/* Estilos para a barra lateral */
.sidebar {
    width: 300px;
    height: 100;
    background-color: #1F1F1F;
    color: white;
    padding: 35px;
    
}
.sidebar2 {
  width: 20%;
    height: 100;
    background-color: #1F1F1F;
    color: white;
    padding: 35px;
}
.fotonoticia {
  width: 1000px;
  display: flexbox;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}


.video {
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100;
}
/* Estilo padrão para os links */
/* Estilos para adicionar espaçamento entre os links */
/* Estilos para adicionar bolinhas apenas nas listas principais */
.pastas > li {
    list-style-type: disc; /* Usar uma bolinha como marcador */
  }
  
  /* Estilos para adicionar espaçamento entre os links */
  .pastas li {
    margin-bottom: 10px; /* Espaçamento inferior entre os itens da lista */
  }
  
  /* Estilos para adicionar espaçamento entre os sublinks */
  .subpastas li {
    margin-bottom: 5px; /* Espaçamento inferior entre os itens da sublista */
  }
  
.pastas a {
    text-decoration: none;
    color: #E3E3E3; /* Cor padrão dos links (branco) */
  }
  
  /* Estilo quando o link é hover (passando o mouse) */
  .pastas a:hover {
    color: #E3E3E3; /* Cor dos links no hover (branco) */
    background-color: #555; /* Cor de fundo no hover */
  }
  
  /* Estilo para links visitados */
  .pastas a:visited {
    color: #E3E3E3; /* Cor dos links visitados (branco) */
  }
  
  /* Estilo para links ativos (quando estão sendo clicados) */
  .pastas a:active {
    color: #E3E3E3; /* Cor dos links ativos (branco) */
  }
  
.fonte{
    font-weight: bolder;
    font-size: xx-large;
}
/* Estilos para o carrossel */
.carrossel {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para as notícias */
.noticias {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 20px;
    padding-bottom: 20px;
}
.fonte {
  padding-left: 60px;
  padding-top: 20px;
}

.noticia img {
    max-width: 100%;
    height: 300px;
}

/* Estilos para o rodapé */
.rodape {
    background-color: #8D0000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.rodape .nomes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pokebola {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    align-items: center;
}
