body {
    font-family: Arial, sans-serif;
}

/* Estilos para o cabeçalho */
.cabecalho { 
    background-image: url(../images/Cabeçalho.png);
    height: 415px;
    position: relative;
}

#divBusca{
    position: absolute;
    top: 30px;
    right: 30px;
}

.logo {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.menu {
    position: absolute; /* Define o posicionamento absoluto para o menu */
    bottom: 0; /* Alinha o menu na parte inferior */
    left: 0; /* Alinha o menu à esquerda */
    width: 100%; /* Faz o menu ocupar toda a largura do contêiner pai */
    background-color: rgba(200, 200, 200, 0.6); /* Cor de fundo do menu com transparência */
    padding: 10px; /* Espaçamento dentro do menu */
    z-index: 2; /* para o menu ficar  acima da imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#divBusca{
    background-color:black;
    border:solid 1px;
    border: radius 5px;;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color: transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    color: wheat;
    border-radius: 5px;
    height: 40px;
    width:260px;
  }

/* Estilos para a barra lateral */
.sidebar {
    width: 200px;
    height: 1000px;
    background-color: #1F1F1F;
    color: white;
    padding: 20px;
}

/* Estilos para o carrossel */
.carrossel {
    text-align: center;
    margin-top: 20px;
}

/* Estilos para as notícias */
.noticias {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.noticia img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o rodapé */
.rodape {
    background-color: #8D0000;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.rodape .nomes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-pokebola {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
